[submodule "tmux/plugins/vim-tmux-navigator"]
	path = tmux/dot-tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "tmux/plugins/tpm"]
	path = tmux/dot-tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-sidebar"]
	path = tmux/dot-tmux/plugins/tmux-sidebar
	url = https://github.com/tmux-plugins/tmux-sidebar
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/dot-tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/plugins/tmux-themepack"]
	path = tmux/dot-tmux/plugins/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack
[submodule "zsh/dot-oh-my-zsh"]
	path = zsh/dot-oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "vim/dot-vim/bundle/Vundle.vim"]
	path = vim/dot-vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "tmux/dot-tmux/plugins/tmux-themepack"]
	path = tmux/dot-tmux/plugins/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
[submodule "tmux/dot-tmux/plugins/vim-tmux-navigator"]
	path = tmux/dot-tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
